@using MudBlazor

<h2 class="title-doc">Como instalar?</h2>
<p>Para instalar o pacote, utilize o seguinte comando:</p>
<div class="clip-code">
    <div class="header-clip-code">
        <div class="title-terminal-clip-code">
            <i class="fa-solid fa-terminal"></i>
            <span>Terminal</span>
        </div>
    </div>
    <div class="code-section">
        <MudMarkdown Value="@MarkdownText"/>
    </div>
</div>
<p>Em seguida, importe os scripts necessários no seu index.html (Blazor WebAssembly) ou _Host.cshtml (Blazor Server):</p>
<div class="clip-code">
    <div class="header-clip-code">
        <div class="title-html-clip-code">
            <i class="fa-brands fa-html5"></i>
            <span>index.html</span>
        </div>
    </div>
    <div class="code-section">
        <MudMarkdown Value="@MarkdownTextHtml"/>
    </div>
</div>
<div class="line"></div>

@code {
    private string MarkdownText = @"
```csharp
dotnet add package BlazorChartsClassLibray
```";
    private string MarkdownTextHtml = @"
```csharp
<script src=""https://cdn.jsdelivr.net/npm/chart.js""></script>
<script src=""_content/BlazorChartsClassLibray/chart.js""></script>
```";


}