<navbar class="nav">
    <NavLink href="/" class="logo-home">
        <div class="logo">
            <i class="fa-solid fa-chart-simple"></i>
        </div>
        <h1 class="title-logo">BlazorCharts</h1>
    </NavLink>
    <div class="navigations">
        <NavLink href="/doc" class="btn">Começar</NavLink>
    </div>
</navbar>