<navbar class="nav">
    <NavLink href="/" class="logo-home">
        <img class="logo" src="./blazor-charts.png" />
        <h1 class="title-logo">BlazorCharts</h1>
    </NavLink>
    <div class="navigations">
        <NavLink href="/doc" class="btn">Começar</NavLink>
    </div>
</navbar>