@page "/doc"
@using BlazorChartsClassLibray.Components;
@using blazor_chart_webassembly.Layout;
@using blazor_chart_webassembly.Components.DocContents;

<PageTitle>Documentação</PageTitle>

<section class="doc-section">
    <SideMenu />
    <section class="doc-area">
        <h1 class="title-header-doc">Primeiros passos</h1>
        <div class="line"></div>
        <WhatIsBlazorCharts />
        <HowToInstall />
        <HowCanIUseCharts />
    </section>
</section>
