@page "/"
@using blazor_chart_webassembly.Components;

<PageTitle>Blazor Charts</PageTitle>

<NavMenu />
<section class="header-home">
    <h1 class="title-header">Integre facilmente componentes gráficos em suas <span class="gradient-text">aplicações Blazor.</span></h1>
    <div class="flex-i-center">
        <NavLink href="/doc" class="btn-green flex-i-center">Começar</NavLink>
        <button class="btn">Modelos</button>
    </div>
    <blazor_chart_webassembly.Components.Clipboard.ChartInstalation />
</section>

<section class="types-charts-section">
    <h1 class="title-header-types">Visualize seus dados com o <span class="gradient-text">gráfico ideal</span></h1>
    <div class="chart-type-list">
        <div class="card-type">
            <h3 class="title-type-card">Gráfico de Linhas</h3>
            <p>Perfeito para visualizar mudanças ao longo do tempo.</p>
        </div>
        <div class="card-type">
            <h3 class="title-type-card">Gráfico de Barras</h3>
            <p>Ideal para comparar diferentes categorias e acompanhar tendências.</p>
        </div>
        <div class="card-type">
            <h3 class="title-type-card">Gráfico de Pizza</h3>
            <p>Compare proporções e distribuições de dados de forma visual e intuitiva.</p>
        </div>
    </div>
    <div class="chart-type-list">
        <div class="card-type">
            <h3 class="title-type-card">Gráfico de Área</h3>
            <p>Combine a estética de um gráfico de linhas com o destaque das áreas preenchidas.</p>
        </div>
        <div class="card-type">
            <h3 class="title-type-card">Gráfico de Dispersão</h3>
            <p>Analise correlações e padrões entre diferentes conjuntos de dados.</p>
        </div>
        <div class="card-type">
            <h3 class="title-type-card">Gráfico Radar</h3>
            <p>Compare múltiplas variáveis em um formato radial envolvente.</p>
        </div>
    </div>
</section>