@page "/"




@using blazor_chart_webassembly.Components;



@using BlazorChartsClassLibray.Components;




<PageTitle>Blazor Charts</PageTitle>

<NavMenu />
<section class="header-home">
    <h1 class="title-header">Integre facilmente componentes gráficos em suas <span class="gradient-text">aplicações Blazor.</span></h1>
    <p class="xl-p">Componentes prontos para uso, você cria gráficos interativos e responsivos em poucos minutos, sem complicações.</p>
    <div class="flex-i-center">
        <NavLink href="/doc" class="btn-green flex-i-center">Começar</NavLink>
        <button class="btn">Modelos</button>
    </div>
    <blazor_chart_webassembly.Components.Clipboard.ChartInstalation />
</section>

<section class="steps-section">
    <h1 class="title-header">Veja como é fácil usar <span class="gradient-text">Blazor Charts</span></h1>
    <p class="xl-p">Adicione gráficos com apenas algumas linhas de código.</p>
    <div class="container-cards-steps">
        <div class="colum-step">
            <div class="instalation-step">
                <div class="bg-shadow-text">
                    <span class="title-step">Instalação</span>
                    <p class="desc-step">Primeiro vamos instalar nosso pacote nuget.</p>
                </div>
            </div>
            <div class="html-step">
                <div class="bg-shadow-text">
                    <span class="title-step">Importe no HTML</span>
                    <p class="desc-step">No header do nosso HTML configuramos 2 scripts</p>
                </div>
            </div>
        </div>
        <div class="colum-step">
            <div class="import-step">
                <div class="bg-shadow-text">
                    <span class="title-step">Importe Razor</span>
                    <p class="desc-step">Importe Blazor Charts Components em seu arquivo razor.</p>
                </div>
            </div>
            <div class="ready-step">
                <div class="bg-shadow-text">
                    <span class="title-step">Pronto para usar</span>
                    <p class="desc-step">Basta escolher seu componente gráfico e usar em suas aplicações.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="steps-section">
    <h1 class="title-header">Por que utilizar <span class="gradient-text">Blazor Charts?</span></h1>
    <p class="xl-p">Ideal para quem busca desempenho e Integração fácil.</p>
    <div class="container-cards-steps">
        <div class="colum-step">
            <div class="how-to-use-beneficie">
                <div class="bg-shadow-text">
                    <span class="title-step">Apresentações e Relatórios</span>
                    <p class="desc-step">Apresentações empresariais, relatórios escolares, reuniões de equipe ou propostas para clientes.</p>
                </div>
            </div>
            <div class="js-beneficie">
                <div class="bg-shadow-text">
                    <span class="title-step">Javascript Configurado</span>
                    <p class="desc-step">Ao baixar o pacote, você não vai precisar tocar em código Javascript.</p>
                </div>
            </div>
        </div>
        <div class="colum-step">
            <div class="link-beneficie">
                <div class="bg-shadow-text">
                    <span class="title-step">Integração Fácil</span>
                    <p class="desc-step">Componente fácil de utilizar, basta passar os parametros e pronto.</p>
                </div>
            </div>
            <div class="comparation-beneficie">
                <div class="bg-shadow-text">
                    <span class="title-step">Comparações Rápidas</span>
                    <p class="desc-step">É fácil comparar resultados entre setores, meses, produtos ou qualquer outra categoria.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section">
    <div class="footer-content">
        <div class="logo-cta">
        <img class="logo-footer" src="./logo-b-c.png" />
        </div>
        <h1 class="title-footer">Comece agora mesmo!</h1>
        <p class="desc-footer">Veja a documentação para saber como utilizar Blazor Charts.</p>
        <NavLink href="/doc" class="btn">Ler documentação</NavLink>
    </div>
    <div class="footer">
        <span>O projeto está aberto para contribuiçoes. 💚</span>
    </div>
</section>