@page "/duvidas"
@using MudBlazor;
<section class="doc-section">
    <SideMenu />
    <section class="doc-area">
        <h1 class="title-header-doc">Dúvidas frequentes</h1>
        <div class="line"></div>
        <MudExpansionPanels MultiExpansion="false">
            @foreach(var item in Faqs)
            {
                <MudExpansionPanel Class="expansion-quote" Text="@item.Question">
                    <p>@item.Answer</p>
                </MudExpansionPanel> 
            }
        </MudExpansionPanels>
    </section>
</section>


@code {
    class FaqItem
    {
        public string Question { get; set; } = string.Empty;
        public string Answer { get; set; } = string.Empty;
    }

    List<FaqItem> Faqs = new()
    {
        new FaqItem
        {
            Question = "Como instalo o pacote Blazor Charts?",
            Answer = "Basta executar  dotnet add package BlazorChartsClassLibray, importar <script src='https://cdn.jsdelivr.net/npm/chart.js'></script> e <script src='_content/BlazorChartsClassLibray/chart.js'></script> no head do seu arquivo html, e depois importar @using BlazorChartsClassLibray.Components;"
        },
        new FaqItem
        {
            Question = "Quais tipos de gráficos são suportados?",
            Answer = "O pacote suporta Line, Bar, Pie/Doughnut, Radar, PolarArea, Area, Scatter e Mix."
        }
    };
}