@page "/duvidas"
@using MudBlazor;
<section class="doc-section">
    <SideMenu />
    <section class="doc-area">
        <h1 class="title-header-doc">Dúvidas frequentes</h1>
        <div class="line"></div>
        <MudExpansionPanels MultiExpansion="false">
            @foreach(var item in Faqs)
            {
                <MudExpansionPanel Class="expansion-quote" Text="@item.Question">
                    <p>@item.Answer</p>
                </MudExpansionPanel> 
            }
        </MudExpansionPanels>
    </section>
</section>


@code {
    class FaqItem
    {
        public string Question { get; set; } = string.Empty;
        public string Answer { get; set; } = string.Empty;
    }

    List<FaqItem> Faqs = new()
    {
        new FaqItem
        {
            Question = "Como instalo o pacote Blazor Charts?",
            Answer = "Basta executar 'dotnet add package BlazorChartsClassLibray', importar os scripts no head do seu HTML, e usar a diretiva @using em seu arquivo razor."
        },
        new FaqItem
        {
            Question = "Quais tipos de gráficos são suportados?",
            Answer = "O pacote suporta LineGraph, ProgressBar, DoubleBar, Polar, Doughnut, Pie."
        },
        new FaqItem
        {
            Question = "Posso contribuir com o projeto?",
            Answer = "Claro! Você pode enviar suas sugestões, correções ou novos recursos por meio de pull requests no nosso repositório do GitHub. Toda contribuição é bem-vinda e será analisada com carinho."
        },
        new FaqItem
        {
            Question = "O projeto terá atualizações futuras?",
            Answer = "Sim! Nossa meta é expandir o catálogo de componentes para Blazor. Em breve, vamos incluir integração com bibliotecas além do Chart.js, oferecendo ainda mais opções e flexibilidade para os desenvolvedores."
        },
    };
}